// Per-host outputs; niri ignores outputs that aren't connected.

// DarkJaguar main display — AORUS FO48U 48" 4K
output "DP-3" {
    scale 1.1
}

// AsusZ13 built-in display
output "eDP-1" {
    scale 1.25
}
